<head>
    <link rel="stylesheet" href="css/footer.css">
</head>
<footer>
    <div class="footer-links">
        <div>
            <h3>About</h3>
            <ul>
                <li>About Yelp</li>
                <li>Career</li>
                <li>Press</li>
                <li>Investor Relationship</li>
                <li>Trust & Safety</li>
                <li>Content Guidelines</li>
                <li>Accessibility Statement</li>
                <li>Terms of Service</li>
                <li>Privacy Policy</li>
                <li>Ad Choices</li>
                <li>Your Privacy Choices</li>
            </ul>
        </div>

        <div>
            <h3>Discover</h3>
            <ul>
                <li>Yelp Project Cost Guides</li>
                <li>Collections</li>
                <li>Talk</li>
                <li>Events</li>
                <li>Yelp Blog</li>
                <li>Support</li>
                <li>Yelp Mobile</li>
                <li>Developers</li>
                <li>RSS</li>
            </ul>
        </div>

        <div>
            <h3>Yelp for Business</h3>
            <ul>
                <li>Yelp for Business</li>
                <li>Business Owner Login</li>
                <li>Claim Your Business Page</li>
                <li>Advertise on Yelp</li>
                <li>Yelp for Restaurant Owners</li>
                <li>Table Management</li>
                <li>Business Success Stories</li>
                <li>Business Support</li>
                <li>Yelp Blog for Business</li>
            </ul>
        </div>

        <div>
            <h3>Language</h3>
            <ul>
                <li>English <img src="img/down-grey.svg" ></li>
            </ul>
            <h3>Countries</h3>
            <ul>
                <li>United States <img src="img/down-grey.svg" ></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>
            Copyright © 2004–2024 Yelp Inc. Yelp, &nbsp;<img src="img/yelp-logo.svg">,&nbsp; <img src="img/yelp-burst.svg"> &nbsp;and related marks are registered trademarks of Yelp.
        </p>
    </div>

    <h5>
        Developed by - Vikash Kumar
    </h5>
</footer>