<head>
    <link rel="stylesheet" href="css/navlinks.css">
</head>
<ul class="navlink z-2">
    <li>
        Restaurants <img src="/img/down.svg" alt="">        
    </li>
    <li>
        Home Services <img src="/img/down.svg" alt="">
    </li>
    <li>
        Auto Services <img src="/img/down.svg" alt="">        
    </li>
    <li>
        More <img src="/img/down.svg" alt="">
    </li>
</ul>